body{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background-color: white;
}

section {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #90A8EE;
}

section:nth-of-type(1){
    z-index: 100;
    display: none;
}

section:nth-of-type(2){
  z-index: 100;
  display: flex;
  flex-direction: row;
}

section:nth-of-type(3){
  z-index: 99;
  display: flex;
  flex-direction: column;
}

.progress {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 30px auto;
    height: 50px;
    border: solid #F0F230 3px;
    border-radius: 25px;
    position: relative;
  }
  
.progress__bar {
    height: 80%;
    width: 0%;
    margin-left: 5px;
    background-color: #F0F230;
    border-radius: 20px;
    position: absolute;
    transition: width 0.5s ease-in-out ;
}

.progress__percent {
    position: relative;
    flex: 1;
    top: 2px;
    right: 5px;
    color: black;
    font-weight: bold;
    margin-top: 100px;
    text-align: center;
  }

.gridSelection{
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 450px;
}

.gridSelection__item{
  position: absolute;
  border-radius: 10%;
  width: 150px;
  height: 150px;
  
}

@for $i from 0 through 5 {

    .gridSelection__item:nth-child(#{$i + 1}) {
        background-image: url("../assets/img/avatar_#{$i + 1}.png");
        background-size: cover;
        z-index: 1;
        margin-top: 100px;
        
        
    }
}

@for $i from 1 through 6 {
  .gridSelection__item:nth-child(#{$i}) {
    top: ($i - 1) * 150px;
  }
}


.container__customize{
  display: none;
  flex-direction: column;
  top: 200px;
  position: relative;
  right: 100px;
}

.container__customize__button{
  width: 100px;
  height: 20px;
}

.container__drugs{
  position: relative;
  display: flex;
  flex-direction: row;
}

.wrapper{
  display: flex;
  flex-direction: column;
}

.wrapperWeed__img{
  background-image: url(../assets/img/avatar_1.png);
  background-size: cover;
  width: 100px;
  position: absolute;
  height: 100px;
}

.wrapperAlcool__img{
  background-image: url(../assets/img/avatar_2.png);
  background-size: cover;
  width: 100px;
  height: 100px;
}

  


